In [27]:
import pandas as pd
import numpy as np
import json

In [6]:
table = pd.read_html("https://www.shogi.or.jp/player/numerical_order.html")[0]

In [17]:
table

        番号    棋士名   年齢        出身   備考   番号.1  棋士名.1 年齢.1     出身.1 備考.1
0      NaN  土居市太郎  NaN   愛媛県 松山市   死去    1.0   金易二郎  NaN   秋田県羽後町   死去
1      2.0   木村義雄  NaN    東京都墨田区   死去    3.0  金子金五郎  NaN      東京都   死去
2      4.0   渡辺東一  NaN    千葉県関宿町   死去    5.0    萩原淳  NaN   兵庫県尼崎市   死去
3      6.0   中井捨吉  NaN    大阪府高槻市   死去    7.0   大野源一  NaN   東京都台東区   死去
4      8.0   志沢春吉  NaN  神奈川県小田原市   死去    9.0   市川一郎  NaN   東京都文京区   死去
..     ...    ...  ...       ...  ...    ...    ...  ...      ...  ...
162  326.0   古賀悠聖  21歳    福岡県福岡市  NaN  327.0   井田明宏  25歳   京都府京都市  NaN
163  328.0   高田明浩  20歳   岐阜県各務原市  NaN  329.0   横山友紀  22歳  兵庫県加古川市  NaN
164  330.0   狩山幹生  21歳    岡山県倉敷市  NaN  331.0   岡部怜央  23歳   山形県鶴岡市  NaN
165  332.0   徳田拳士  24歳    山口県周南市  NaN  333.0    藤本渚  17歳   香川県高松市  NaN
166  334.0   齊藤裕也  25歳    三重県桑名市  NaN    NaN    NaN  NaN      NaN  NaN

[167 rows x 10 columns]

In [25]:
player = {}
for i, j  in zip(table["番号"], table["棋士名"]):
    if not np.isnan(i):
        player[j] = int(i)
for i, j in zip(table["番号.1"], table["棋士名.1"]):
    if not np.isnan(i):
        player[j] = int(i)

In [33]:
path = "./player_num.json"
json_file = open(path, mode="w+", encoding="utf-8")
json.dump(player, json_file, indent=2, ensure_ascii=False)
json_file.close()