In [1]:
import numpy as np
import pandas as pd
import json
from tools import kishi

In [10]:
players = ['郷田真隆', '真田圭一', '青嶋未来', '丸山忠久', '佐藤康光', '都成竜馬', '佐藤和俊', '藤井猛', '石川優太', '石井健太郎', '黒沢怜生', '三浦弘行', '菅井竜也', '糸谷哲郎', '羽生善治', '折田翔吾',  '斎藤慎太郎', '豊島将之', '森内俊之', '山崎隆之', '八代弥', '脇謙二', '梶浦宏孝', '澤田真吾', '松尾歩', '久保利明', '阿久津主税', '池永天志', '大橋貴洸', '佐々木大地', '橋本崇載', '高野智史', '増田康宏', '佐藤天彦', '井田明宏', '木村一基', '徳田拳士', '村山慈明', '木村一基', '深浦康市', '三枚堂達也', '中村太地', '千田翔太', '中座真', '千葉幸生', '出口若武', '広瀬章人', '服部慎一郎', '阿部健治郎', '鈴木大介', '羽生善治', '藤井聡太', '西田拓也', '永瀬拓矢', '本田奎', '井出隼平', '佐々木勇気', '佐藤紳哉', '稲葉陽', '近藤誠也', '渡辺明']

In [11]:
number = []
for i in players:
    number.append(kishi.number(i))

In [79]:
test = pd.read_html("http://kishibetsu.com/2013R/1264.html")[0]
f = open("./rating_data/"+number[0]+".csv")
header = ["年", "月", "日", "レーティング"]

TypeError: can only concatenate str (not "int") to str

In [71]:
tmp= test.T.reset_index().T
i = tmp[1][4:]
i

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
Name: 1, dtype: object

In [75]:
test.columns

MultiIndex([('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',       'No', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',       '日付', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',      'レート', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',      'レート', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',      'レート', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '期待勝率', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',       '勝敗', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',       '先後', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '対戦相手', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '対戦相手', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '対戦相手', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',       '棋戦', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）', 'シミュレーション', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '対戦成績', ...),
            ('2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）',     '対戦成績', ...)],
           )

In [76]:
test['2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）']['日付']

        日付
0    4月15日
1    4月22日
2    4月26日
3     5月2日
4    5月23日
5    5月31日
6     6月9日
7    6月28日
8     7月6日
9    7月13日
10   7月20日
11   7月25日
12   7月28日
13    8月4日
14    8月9日
15   8月12日
16   8月24日
17   8月31日
18    9月2日
19    9月5日
20   9月10日
21   9月13日
22   9月13日
23   9月17日
24   9月21日
25   9月27日
26   10月4日
27   10月8日
28  10月17日
29  10月21日
30  10月25日
31  10月28日
32   11月4日
33   11月7日
34  11月11日
35  11月13日
36  11月15日
37  11月22日
38    2月1日
39    3月2日
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN

In [77]:
test['2022 年度　レーティング', '35 戦 22 勝 13 敗　(0.629）']['レート']["対戦前"]

0     1866
1     1873
2     1863
3     1870
4     1875
5     1881
6     1885
7     1878
8     1890
9     1895
10    1890
11    1886
12    1892
13    1897
14    1903
15    1908
16    1913
17    1908
18    1916
19    1916
20    1911
21    1914
22    1914
23    1906
24    1896
25    1902
26    1894
27    1887
28    1892
29    1888
30    1894
31    1887
32    1893
33    1900
34    1903
35    1909
36    1897
37    1904
38    1904
39    1904
40    1904
41    1904
42    1904
43    1904
44    1904
45    1904
46    1904
47    1904
Name: 対戦前, dtype: int64